<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
    </h1>
    <div class="header-icons">
      <a
        aria-label="Instagram"
        target="_blank"
        href="https://www.instagram.com/studiospenteract"
      >
        <i class="icon fab fa-instagram" aria-hidden="true"></i>
      </a>
      <a
        aria-label="Twitter"
        target="_blank"
        href="https://twitter.com/PenteractS"
      >
        <i class="icon fab fa-twitter" aria-hidden="true"></i>
      </a>
      <a
        aria-label="Youtube"
        target="_blank"
        href="https://www.youtube.com/channel/UCzTdQuRC18esAYZ5SNDaYXg"
      >
        <i class="icon fab fa-youtube" aria-hidden="true"></i>
      </a>
      <!-- <a
        aria-label="Tesseract Github"
        target="_blank"
        href="https://github.com/PenteractStudios/Tesseract"
      >
        <i class="icon fab fa-github-alt" aria-hidden="true"></i>
      </a> -->
      <a
        aria-label="Penteract Github"
        target="_blank"
        href="https://github.com/PenteractStudios/Penteract"
      >
        <i class="icon fab fa-github-alt" aria-hidden="true"></i>
      </a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Us</a>
      <a class="link" href="#team" data-scroll>Penteract Studios Team</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
