<div class="user-details">
  <h1> Penteract news </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tesseract.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Engine name </h3>
    <ul>
      <li> Tesseract </li>
    </ul>
    <p>This is the name of the Engine.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/gvd1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Game Vision Documemt </h3>
    <ul>
      <li> Moodboard</li>
    </ul>
    <p>Switch between a technologically enhanced assassin and her unstoppable mech companion to fulfil a multimillion-dollar contract. Take a personal revenge on one of the most powerful men in Penteract City and retrieve the Tesseract, a piece of technology which will change the world for good, or for bad should it fall into the wrong hands...</p>
    <a class="project-link" target="_blank" href="/assets/img/Penteract GVD.pdf">Check our GVD</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Prototipe.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Level Design </h3>
    <ul>
      <li> First rototype </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="/assets/img/Penteract GVD.pdf">Check out the prototype</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Fang.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Main Characters </h3>
    <ul>
      <li> Fang </li>
    </ul>
    <p>Organic life, as we know it, disappeared from the world centuries ago after The Singularity, when machines took over civilization. All that's left are sentient robots with hyper-advanced AIs and their biggest monument to synthetic existence: Penteract City. The city is a massive agglomeration of concrete and metal, inhabited by androids and controlled by corporations that manipulate the inner workings of society to benefit the few at the expense of the many. In this futuristic dystopia, political governments have ceased to exist. Five mega-corporations (known as The Five) control every social and economic aspect of the society. They are currently competing to be the first to develop the Tesseract technology, an unlimited source of energy that will render batteries and electric plants obsolete. But as the industrial espionage and direct conflicts are escalating quickly, mercenaries are being hired and assassinations are common.</p>
    <a class="project-link" target="_blank" href="/assets/img/Penteract GVD.pdf">Check the main characters</a>
  </div>
</div>
