<div class="user-details">
  <h1> Penteract Team </h1>
</div>
<div class="user-Team" align="center">
  <table>

    <tr>

      <th>
          <img  src="/assets/cvimg/Laura.jpg"  style="width: 100px; height: 100px;"/>

      <br>
              Laura 
      <br>
               Aviñó González 
      <br>
        <a target="_blank" href="https://www.linkedin.com/in/laura-avi%C3%B1%C3%B3/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
        <a target="_blank" href="http://lauraavino.com/" style="text-decoration: none;"> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
      </th>

      <th>
          <img  src="/assets/cvimg/Laura.jpg"  style="width: 100px; height: 100px;"/>

      <br>
              Jaume 
      <br>
               Bea Pérez-Zubizarreta
      <br>
        <a target="_blank" href="https://www.linkedin.com/in/laura-avi%C3%B1%C3%B3/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
        <a target="_blank" href="http://lauraavino.com/" style="text-decoration: none;"> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
      </th>
 
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
       <br>  
         Miguel Ángel
      <br>
         Bueno Rivera
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
   </tr>

    <tr>
     <th>
         <img  src="/assets/cvimg/Guillem.jpg"  style="width: 100px; height: 100px; "/>

         <br>
          Guillem
      <br>
         Burgués Miró
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/guillem-burgu%C3%A9s-mir%C3%B3-600087195/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
   
     <th>
         <img  src="/assets/cvimg/Isaac.jpg"  style="width: 100px; height: 100px; "/>

      <br>
         Isaac
      <br>
         Fernández Fontao
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/isaac-fernandez-fontao-8a7963206/" style="text-decoration: none;"> 
          <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>



     <th>
         <img  src="/assets/cvimg/Cristian.jpg"  style="width: 100px; height: 100px; "/>
         <br>
         Cristian
      <br>
         Ferrer Galan
         <br>
        <a target="_blank" href="https://github.com/Yonimevicio" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/ymvdeveloper/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
 </tr>

    <tr>

      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
         <br>
           Xavier
      <br>
         Francesch Sabaté
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>

      <th>
         <img  src="/assets/cvimg/Jordi.jpg"  style="width: 100px; height: 100px; "/>
         <br>
           Jordi
      <br>
         Gil González
         <br>
        <a target="_blank" href=" https://www.linkedin.com/in/jordi-gil/ " style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
        <a target="_blank" href="https://jordi-gil.github.io/ " style="text-decoration: none;"> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
 


      <th>
         <img  src="/assets/cvimg/Alvaro.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Alvaro
      <br>
         Hinojal Blanco
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/alvarohinojal/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
         </a>
         <a target="_blank" href="https://github.com/AHinojal" style="text-decoration: none;"> 
         <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
       </th>

     </tr>

     <tr>

      <th>
         <img  src="/assets/cvimg/Saul.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Saúl
      <br>
         Juárez González
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/sauljuarezgonzalez/" style="text-decoration: none;"> 
          <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>


      <th>
         <img  src="/assets/cvimg/XaviM.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Xavier
      <br>
         Macias i Xicola
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/xavier-macias-xicola-680b71148/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
 


      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
         <br>
           Florenci
      <br>
         Magriñà Arjona
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>

     </tr>

     <tr>
      <th>
         <a target="_blank" href="https://www.artstation.com/nil96" style="text-decoration: none;">
         <img  src="/assets/cvimg/Nil.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Nil
      <br>
         Mullol Marin
         <br>
        <a target="_blank" href="https://www.artstation.com/nil96" style="text-decoration: none;"> 
          <img  src="/assets/img/artstation.png"  style="width: 25px; "/> 
        </a>
       </th>
 
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Pol
      <br>
         Pérez Granero
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
   


     <th>
         <img  src="/assets/cvimg/Franc.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Francesc
      <br>
         Porta Solsona
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/franc-porta-4a101213a/" style="text-decoration: none;"> 
          <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
     </tr>

     <tr>
      <th>
         <img  src="/assets/cvimg/JuanCarlos.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Juan Carlos
      <br>
         Sánchez Guzmán
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/jcsanchezg/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>

     <th>
         <img  src="/assets/cvimg/Telm.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Telm Francesc
      <br>
         Serra Malagrava
         <br>
        <a target="_blank" href="https://github.com/telmiuse" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
       </th>


      <th>
         <img  src="/assets/cvimg/David.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          David
      <br>
         Sierra González
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/david-sierra-gonz%C3%A1lez-aaab6b195/" style="text-decoration: none;"> 
          <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
     </tr>

     <tr>
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
         <br>
         Llorenç
        <br>
         Solé Franquesa
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
     <th>
         <img  src="/assets/cvimg/JaimeV.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Jaime
      <br>
         Vicente Vicente
         <br>
        <a target="_blank" href="jaimevicente.com" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
       </th>



      <th>
         <img  src="/assets/cvimg/JMarc.jpg"  style="width: 100px; height: 100px; "/>
         <br>
          Joan Marc
      <br>
         Bardés Vera
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/joan-marc-bard%C3%A9s-vera-b04b64100/" style="text-decoration: none;"> 
           <img src="https://img.icons8.com/android/24/000000/linkedin.png"/>
        </a>
       </th>
    </tr>
  </table>




</div>

