<div class="user-details">
  <h1> Penteract Team </h1>
</div>
<div class="user-Team" align="center">
  <table>

    <tr>

      <th>
          <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px;"/>
      <br>
               Aviñó González, Laura 
      <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
      </th>
 
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Bueno Rivera, Miguel Ángel
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
  
     <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Burgués Miró, Guillem
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>

    <tr>
     <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Fernández Fontao, Isaac
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>



     <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Ferrer Galan, Cristian
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>


      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Francesch Sabaté, Xavier
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>

    <tr>
      <th>
         <img  src="/assets/cvimg/Jordi.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Gil González, Jordi
         <br>
        <a target="_blank" href=" https://www.linkedin.com/in/jordi-gil/ " style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
        <a target="_blank" href="https://jordi-gil.github.io/ " style="text-decoration: none;"> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
 


      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Hinojal Blanco, Alvaro
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>



      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px;"/>
      <br>
         Aviñó González, Laura
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>

    <tr>
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Juárez González, Saúl
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>


      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Macias i Xicola, Xavier
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
 


      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Magriñà Arjona, Florenci
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>

    <tr>

      <th>
         <a target="_blank" href="https://www.artstation.com/nil96" style="text-decoration: none;">
         <img  src="/assets/cvimg/Nil.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Mullol Marin, Nil
         <br>
        <a target="_blank" href="https://www.artstation.com/nil96" style="text-decoration: none;"> 
          <img  src="/assets/img/artstation.png"  style="width: 25px; "/> 
        </a>
       </th>


 
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Pérez Granero, Pol
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
   


     <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Porta Solsona, Francesc
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>

    <tr>
      <th>
         <img  src="/assets/cvimg/JuanCarlos.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Sánchez Guzmán, Juan Carlos
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/jcsanchezg/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
        </a>
       </th>
    


     <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Serra Malagrava, Telm Francesc
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>


      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Sierra González, David
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>


  <tr>
      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Solé Franquesa, Llorenç
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>


 
     <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Vicente Vicente, Jaime
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>



      <th>
         <img  src="/assets/cvimg/Lowy.jpg"  style="width: 100px; height: 100px; "/>
      <br>
         Bardés Vera, Joan Marc
         <br>
        <a target="_blank" href="https://www.linkedin.com/in/Lowy-sole-franquesa/" style="text-decoration: none;"> 
          <img  src="/assets/img/github.png"  style="width: 25px; "/> 
          <img  src="/assets/img/web.png"  style="width: 25px; "/> 
        </a>
       </th>
    </tr>
  </table>




</div>

