<h1>Meet the team</h1>

<div class="wrapper">
  {% for member in site.data.team %}
  <div class="member">
    <img class="picture" src="{{ member.imageUrl }}" />
    <p class="name">{{ member.name }}</p>
    <p class="lastName">{{ member.lastName }}</p>
    <div class="links">
      {% for link in member.links %}
      <a href="{{ link.url }}">
        {% if link.type == "user" %}
        <i class="icon fa fa-{{ link.type }}" aria-hidden="true"></i>
        {% else %}
        <i class="icon fab fa-{{ link.type }}" aria-hidden="true"></i>
        {% endif%}
      </a>
      {% endfor%}
    </div>
  </div>
  {% endfor %}
</div>
